.container > .places {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding-top: 2.5rem;
	justify-content: center;
}
.container > .places > h1 {
	font-size: 30px;
	position: absolute;	
	top: 2px;
	left: 0;			
}
.container > .places > article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	float: left;
}
.container > .places > article > h2 {
	font-size: 30px;
	text-align: center;
}